<div class="d-flex align-items-center vh-100">
	<div class="mx-auto text-center shadow-sm bg-white rounded p-5 my-5">
	<h2>Solicitar documentos acadêmicos</h2>
		<form class="form-signin" #loginForm="ngForm" (ngSubmit)="login()">
			<img src="../../../../assets/images/LogoIfrs.png" class="my-4"
				alt="" >
			<label for="username" class="sr-only">Usuário</label>
			<input type="text" id="username" class="form-control" placeholder="Usuário" name="username" required [(ngModel)]="model.login">
			<label for="password" class="sr-only">Password</label>
			<input type="password" id="0password" class="form-control" placeholder="Senha" name="password" required [(ngModel)]="model.password">
			<button [disabled]="!loginForm.valid" class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
			<!-- <p class="mt-4 mb-2 text-muted">Não tem login? Cadastre-se abaixo</p> -->
			 <a class="btn btn-lg btn-link btn-block" (click)="router.navigate(['requestform'])">Solicitar sem login</a> 
		</form>

	</div>
	
</div>