
<div style="text-align: center;" class="container">
    <app-titulo [titulo]="title"></app-titulo>
</div>
  <form 
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="p-1"
  >
    <div class="p-3" class="container">
      <div *ngIf="isDevelopment">
        <app-form-group-errors [formGroup]="form"></app-form-group-errors>  
      </div>
      
      <!-- <div *ngIf="!isUserLoggedIn()" class="form-row">
        <div class="form-group col-sm-6">
          <label>E-mail</label>
          <input  type="text" class="form-control"
            formControlName="email"
            placeholder="e-mail"
            [ngClass]="{'is-invalid': getFormControls.email.errors && getFormControls.email.touched}"
          >
          <div *ngIf="validateEmail()" class="invalid-feedback">
            e-mail é obrigatório
          </div>
          <div *ngIf="!isUserLoggedIn() && getFormControls.email.errors?.email && getFormControls.email.touched" class="invalid-feedback">
            Deve ser um endereço de e-mail válido
          </div>
        </div>
      </div> -->
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>Curso</label>
          <select
            class="form-control" 
            [ngClass]="{'is-invalid': getFormControls.courseId.errors && getFormControls.courseId.touched}" 
            formControlName="courseId"
          >
            <option value=""> Selecione um curso</option>
            <option  role="menuitem" *ngFor="let c of courses" [ngValue]="c.id">
              <a class="dropdown-item">{{ c.description }}</a>
            </option>
          </select>
          <div *ngIf="getFormControls.courseId.errors?.required && getFormControls.courseId.touched" class="invalid-feedback">
            Curso é obrigatório
          </div>
        </div>

        <!-- <div class="form-group col-sm-6">
            <label>Em qual formato você quer receber os documentos?</label>
            <select 
              [ngClass]="{'is-invalid': getFormControls.receiveDocumentTypeId.errors && getFormControls.receiveDocumentTypeId.touched}" 
              class="form-control" 
              formControlName="receiveDocumentTypeId"
            >
              <option value=""> Selecione um formato</option>
              <option  role="menuitem" *ngFor="let c of receiveDocumentTypes" [ngValue]="c.id">
                <a class="dropdown-item">{{ c.description }}</a>
              </option>
            </select>
            <div *ngIf="getFormControls.receiveDocumentTypeId.errors?.required && getFormControls.receiveDocumentTypeId.touched" class="invalid-feedback">
              Escolha pelo menos um formato
            </div>
        </div>       -->
        <div class="form-group col-sm-6">
          <label>Qual tipo de documento você deseja solicitar?</label>
          <select
            [ngClass]="{'is-invalid': getFormControls.documentTypeId.errors && getFormControls.documentTypeId.touched}" 
            class="form-control" 
            formControlName="documentTypeId"
            (change)="onDocumentTypeSelect()"
          >
          <option value=""> Selecione um tipo</option>
            <option  role="menuitem" *ngFor="let d of documentTypes" [ngValue]="d.id">
              <a class="dropdown-item">{{ d.description }}</a>
            </option>
          </select>
          <div *ngIf="getFormControls.documentTypeId.errors?.required && getFormControls.documentTypeId.touched " class="invalid-feedback">
            Escolha pelo menos um tipo
          </div>
        </div>
      </div>

      <div class="form-row">
       

        <div class="form-group col-sm-6">         
          <label>Quais documentos deseja?</label>          
          <ng-select [items]="filteredDocumentOptions" 
            bindLabel="description" 
            bindValue="id" 
            [multiple]="true"
            formControlName="formDocumentOptions"
            placeholder="Selecione um ou mais documentos"
            [loading]="realoadOptions"
            (clear)="clearMultiSelect"
            [closeOnSelect]="false"
            [ngClass]="{'is-invalid': getFormControls.formDocumentOptions.errors?.required && getFormControls.formDocumentOptions.errors && getFormControls.formDocumentOptions.touched}"
            required>
          </ng-select>
          <div *ngIf=" getFormControls.documentTypeId.errors?.required " class="invalid-feedback">
            Selecione um tipo de documento antes
          </div>
          <div *ngIf="!getFormControls.documentTypeId.errors && getFormControls.formDocumentOptions.errors && getFormControls.formDocumentOptions.errors?.required && getFormControls.formDocumentOptions.touched " class="invalid-feedback">
            Escolha pelo menos um documento
          </div>
        </div>
        
        <div class="form-group col-sm-6">
          <label>Justificativa</label>
          <textarea  type="text" class="form-control"
            formControlName="note"
            placeholder=""
            [ngClass]="{'is-invalid': getFormControls.note.errors && getFormControls.note.touched}"
          ></textarea>          
          <div *ngIf="validateNote()" class="invalid-feedback">
            A justificativa é obrigatória
          </div>
          <div *ngIf="this.getFormControls.note.errors?.maxlength && getFormControls.note.touched" class="invalid-feedback">
            Justificativa deve ter no máximo 300 caracteres!
          </div>
        </div>
      </div>

      
      <div class="form-row">
        <div class="form-group col-12">
          <button type="submit" class="btn btn-lg btn-success btn-block px-5" (click)="saveForm(this.newForm)" [disabled]="!form.valid">
            Solicitar
          </button>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-secondary btn-block px-5" (click)="resetForm()">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </form>