<div style="text-align: center;">
    <app-titulo [titulo]="title"></app-titulo>
  </div>
  <hr />
  <div class="d-flex">
    <div class="form-inline mr-auto">
      <div class="form-group mb-2">
        <label class="mr-2">Filtro:</label>
        <input
          type="text"
          class="form-control-mr-2"
          placeholder="buscar"
          [(ngModel)]="this.filterList"          
        />
      </div>
    </div> 
    
  </div>
  
  
  <!-- <h3>Filtro: {{ this.filterList }}</h3> -->
<div>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>       
        <th>Criação</th>
        <th>Email</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Curso</th>
        <th>Tipo</th>
        <th>Documentos</th>
        <th>Admin</th>
        <th>Atualização</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody *ngIf="filteredForms && filteredForms.length">
        <tr *ngFor="let ff of filteredForms">
            <td>{{ff.createDate | DateTimeFormatPipe }}</td>
            <td>{{ff.email}}</td>
            <td>{{ff.name}}</td>
            <td>{{ff.user.cpf}}</td>
            <td>{{ff.course.description}}</td>
            <td>{{ff.documentType}}</td>
            <td>{{ff.optionsString}}</td>
            <td>{{ff.user.description}}</td>
            <td>{{ff.updateDate | DateTimeFormatPipe }}</td>
            <td>
              <button [ngClass]="getStatusColor(ff.status)" disabled>
                {{ff.status}}
              </button>
            </td>
            <td>
              <button class="btn btn-primary btn-sm mr-2" tooltip="Editar"><i class="fa fa-edit"></i></button>
              <button class="btn btn-sm btn-danger" tooltip="Excluir"> <i class="fa fa-eraser" (click)="openModal(template)" ></i></button>
            </td>
        </tr>     
      
    </tbody>
    <footer *ngIf="!filteredForms || !filteredForms.length">
      <tr>
        <td colspan="5" class="text-center"></td>
        <h4>
          Nenhum formulário encontrado!
        </h4>
      </tr>
    </footer>
  </table>
</div>
    
 

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar este registro?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
  </div>
</ng-template>